/* Agrega aqui tu CSS */
div { 
	width: 250px;
	height: 270px;
	border: #046F0C 5px solid;
	background:#90FBA9 ;
	text-align:center;
	border-radius: 25px 25px 25px 25px;
	font-size: 17px;
	font-family: Tahoma;
	}

.boxintx {
	border: white 1px dashed;
	text-align:left;
	background: #E2FBE8;
	border-radius: 8px 8px 8px 8px;
	font-size: 17px
 	}
/*--------------PROPIEDADES DE LA SEGUNDA CAJA--------------------------------*/
#cajados {
	width: 250px;
	height: 250px;
	border: red 5px solid;
	background:#FAA465 ;
	}

.boxindos {
	border: white 1px dashed;
	text-align:left;
	background: #FBD9A9;
	border-radius: 8px 8px 8px 8px;
	font-size: 17px
	}
/*---------------------PROPIEDADES DE LA TERCER CAJA ---------------------------*/
#cajatres {
	width: 250px;
	height: 290px;
	border: #AB078A 5px solid;
	background:#FD8FDF ;
	}

.boxintres {
	border: white 1px dashed;
	text-align:left;
	background: #F9C2E1;
	border-radius: 8px 8px 8px 8px;
	font-size: 17px
	}

